In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./item_metadata.csv', low_memory=False)
pd.set_option('display.max_columns', None)

In [12]:
df[df['article_id'] == 529180002]

,article_id,product_code,prod_name,product_type_no,product_type_name,product_group_name,graphical_appearance_no,graphical_appearance_name,colour_group_code,colour_group_name,perceived_colour_value_id,perceived_colour_value_name,perceived_colour_master_id,perceived_colour_master_name,department_no,department_name,index_code,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc,image_name,Pattern_prediction,Sleeve_prediction,Length_prediction,Neckline_prediction,detected_fabrics
4324,529180002,529180,CARTER CHECKED,259,Shirt,Garment Upper body,1010004,Check,43,Dark Red,4,Dark,18,Red,1543,Tops Woven,D,Divided,2,Divided,53,Divided Collection,1010,Blouses,"Slightly shorter, straight-cut flannel shirt w...",0529180002.jpg,lattice,long_sleeve,no_dress,crew_neckline,None detected

In [17]:
df.loc[df['garment_group_name'] == 'Dresses Ladies', 'garment_group_name'] = 'Dresses'

In [20]:
df = df[df['garment_group_name'] != 'Special Offers']

In [21]:
df['garment_group_name'].value_counts()

garment_group_name
Jersey            13886
Blouses            5836
Accessories        5486
Knitwear           5444
Trousers           5061
Dresses            4867
Shoes              2837
Trousers Denim     1492
Shirts             1425
Skirts             1254
Shorts             1163
Suits               907
Name: count, dtype: int64

In [22]:
df.to_csv('./item_metadata.csv', index=False)